.mat-toolbar > span {
    margin-left: 1em;
}

.content {
    height:100%;
    padding:0;
    margin: 3em 0 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.row {
    width:auto;
}